mixin nav-link(page, activePage, pageName)
  if page === activePage
    a.active.rounded.me-2(href=page + ".pug", aria-current="page")= pageName
  else
    a.rounded.me-2(href=page + ".pug")= pageName

mixin header(activePage)
  head
    title Beautiful New Zealand
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="../scss/styles.scss", rel="stylesheet", type="text/css")
    link(
      href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap",
      rel="stylesheet"
    )
    link(href="../img/favicon.png", rel="shortcut icon")
  body
    header.animheader
      a(href="index.pug")
        img.logo(src="../img/NewZealandLogo.png", alt="New Zealand logo")
      img(
        src="../img/landscape_banner.png",
        alt="Beautiful New Zealand",
        width="1200",
        height="306"
      )

    nav.container-fluid.navbar.navbar-expand-xxl.d-flex.justify-content-between.align-items-center.navbar-dark
      button.navbar-toggler(
        type="button",
        data-bs-toggle="collapse",
        data-bs-target="#navbarContent",
        aria-controls="navbarContent",
        aria-label="Toggle Drop-Down Navigation",
        aria-expanded="false"
      )
        span.navbar-toggler-icon
      #navbarContent.collapse.navbar-collapse
        .navbar-nav
          +nav-link("#", activePage, "Beaches")
          +nav-link("#", activePage, "Bush")
          +nav-link("#", activePage, "Mountains")
          +nav-link("icons", activePage, "Icons")
          +nav-link("contact", activePage, "Contact")
      .search-box
        input.p-1.mt-1.border-0.rounded.me-1(
          type="text",
          placeholder="Search …",
          name="search"
        )
        button.btn.btn-secondary(aria-label="Search", type="submit")
          i.bi-search(aria-hidden="true")
